.pd-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 20px 40px;
  margin-top: 20px;
}

/* LEFT */
.pd-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.pd-image {
  width: 100%;
  max-width: 550px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* RIGHT */
.pd-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.pd-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}

.pd-price {
  font-size: 28px;
  font-weight: bold;
  color: #007aff;
  margin-bottom: 20px;
}

.pd-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #444;
  line-height: 1.5;
}

.pd-btn {
  background: #007aff;
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 20px;
  width: 300px;
}

.pd-btn:hover {
  background: #0063cc;
}

.pd-category {
  font-size: 18px;
  color: #333;
}

.pd-category span {
  font-weight: bold;
  color: #007aff;
}

/* Responsivo */
@media (max-width: 900px) {
  .pd-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .pd-right {
    padding: 0;
    text-align: center;
  }

  .pd-title {
    font-size: 32px;
  }

  .pd-price {
    font-size: 24px;
  }

  .pd-btn {
    width: 100%;
    max-width: 300px;
    align-self: center;
  }
}
