.item{
    width: 21%;
}

.item img{
    width: 100%;
}

.item p{
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    gap: 15px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

@media(max-width:800px){
    .item{
        width: 35%;
    }
}

@media(max-width:500px){
    .item p{
        font-size: 14px;
    }
    .item-price-new{
        font-size: 14px;
    }
}