@media(max-width:1000px){
  .container-center{padding:18px}
  aside{display:none} /* hide sidebar on small screens */
}
.admin-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
