.productpage {
  max-width: 1200px;
  margin: 20px auto 40px;
  padding: 0 20px;
}

.back-btn-product {
  background: #f3f3f3;
  border: 1px solid #007aff;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #007aff;
  transition: 0.25s ease;
  margin-bottom: 20px;
  margin-top: -10px;
}

.back-btn-product:hover {
  background: #007aff;
  color: white;
  transform: translateX(-3px);
}